<!DOCTYPE html>
<html lang="en">
    
<body>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    
    
    <div class="container offcanvas-start  ">
        <center>
            <br>
            <br>
            <%-include('partials/encabezado.html');%>
            <nav class="nav">
                <a href="/pagoLuz"  style="margin-right: 1rem;"> Acerca de </a>
                <a href="/salidaDatos" style="margin-right: 1rem;"> Pago de recibo </a>
                <a href="/html/" style="margin-right: 1rem;"> Contactos </a>
                
            </nav>
            <br>
            <br>
            <form action="" method="post" >
                <label class="input-group-text fs-5">Número del recibo:</label>
                <input type="number" name="numReci" id="numReci" aria-label="First name" class="form-control" required="true">
                <br>

                <label class="input-group-text fs-5">Nombre:</label>
                <input type="text" name="nombre" id="nombre" aria-label="First name" class="form-control" required="true">
                <br>

                <label class="input-group-text fs-5" for="">Domicilio:</label>
                <input type="text" name="domicilio" id="domicilio" aria-label="First name" class="form-control" required="true">
                <br>
                <br>
                <label class="input-group-text fs-5" for="">Tipo de servicio:</label>
                <select name="tipoServ" id="tipoServ" aria-label="First name" class="form-control">
                    <option  value="Domicilio">Domicilio</option>
                    <option  value="Comercial">Comercial</option>
                    <option  value="Industrial">Industrial</option>
                </select>
                <br>
                <br>
                <label class="input-group-text fs-5" for="">Kilowatts consumidos:</label>
                <input type="number" name="kiloW" id="kiloW" required="true" aria-label="First name" class="form-control">
                <br>
                <br>
                <button class="btn btn-dark fs-5" type="submit">Enviar Información</button>
               
                <button  class="btn btn-dark fs-5" onclick="limpiar()" id="btnLimpiar">Limpiar</button>
                <br>
                <br>
                
                <br>

                    
            </form>
            <%-include('partials/piePagina.html');%>
        
        
    </center>
    </div>
    <br>
    <br>
</body>
<script>

    function limpiar(){
    let numReci = document.getElementById('numReci');
    let nombre = document.getElementById('nombre');
    let domicilio = document.getElementById('domicilio');
    let tipoServ = document.getElementById('tipoServ');
    let kiloW = document.getElementById('kiloW');
    

    numReci.innerHTML = "";
    nombre.innerHTML = "";
    domicilio.innerHTML = "";
    tipoServ.innerHTML = "";
    kiloW.innerHTML = "";
    }
</script>
</html>