<!DOCTYPE html>
<html lang="en">

<body>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    
    <div class="container offcanvas-start  ">
        <center>
            <br>
            <br>
            <%-include('partials/encabezado.html');%>
            <nav class="nav">
                <a href="/pagoLuz"  style="margin-right: 1rem;"> Acerca de </a>
                <a href="/salidaDatos" style="margin-right: 1rem;"> Pago de recibo </a>
                <a href="/html/" style="margin-right: 1rem;"> Contactos </a>
                
            </nav>
            <br>
            <br>
            <form action="/salidaDatos" method="post" >
                <%
                    let subtotal = 0;
                    let impuesto = 0.16;
                    let totalPagar = 0;
                    let precio;
                    let descuento;

                    if(tipoServ=="Domicilio"){
                        precio = 1.08;
                    
                        if(kiloW <= 1000){
                            descuento = 0.1;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 1000 && kiloW  <= 10000){
                            descuento = 0.2;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 10000){
                            descuento = 0.5;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;
                        }
                        
                    } else if(tipoServ=="Comercial"){
                        precio = 2.5;
                        
                        if(kiloW <= 1000){
                            descuento = 0.1;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 1000 && kiloW  <= 10000){
                            descuento = 0.2;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 10000){
                            descuento = 0.5;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;
                        }

                    } else if(tipoServ=="Industrial"){
                        precio = 3.0;
                        
                        if(kiloW <= 1000){
                            descuento = 0.1;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 1000 && kiloW  <= 10000){
                            descuento = 0.2;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;

                        }else if(kiloW > 10000){
                            descuento = 0.5;
                            subtotal = parseInt(kiloW) * precio;
                            impuesto = impuesto * subtotal;
                            descuento = descuento * subtotal;
                            totalPagar = subtotal + impuesto - descuento;
                        }

                    } 
                    %> 
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <table class="table table-striped table-hover table-sucess ">
                            <tr>
                                <td class="col-md-2">Nombre</td>                                       
                                <td class="col-md-2">Tipo de servicio</td>
                                <td class="col-md-2">Kilowatts consumidos</td>
                                <td class="col-md-2">Costo por kilowatts</td>
                                
                                
                            </tr>
                            

                            <tr>
                                
                                <th><%=nombre%></th>
                                <th><%=tipoServ%></th>
                                <th><%=kiloW%></th>
                                <th><%=precio%></th>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Sub total</th>
                                    <th><%=subtotal%></th>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Impuesto</th>
                                    <th><%=impuesto%></th>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Descuento</th>
                                    <th><%=descuento%></th>
                                </tr>
                                
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Total a pagar</th>
                                    <th><%=totalPagar%></th>
                                </tr>
                                
                            </tr>
                            
                        </table>
                    </center>                                                                                                                                                                                                  
                                      
                </div>
            </div>
        </form>
            <%-include('partials/piePagina.html');%>
        
        
    </center>
    </div>
    <br>
    <br>
</body>
</html>